<section class="navigation-wrapper">
    <%= render "home/navbar" %>
</section>
<main class="main-app-wrapper">
    <div class="yield-app-main-wrapper">
        <section class="home-main-container">
            <header class="home-header-container">
                <div class="image-text-wrapper">
                    <div class="header-text">
                        <%= link_to :back do %>
                        <div class="header-back-arrow">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <%end %>
                        Tweet
                    </div>
                </div>
                <div class="header-top-tweets-icon">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                        <g>
                            <path d="M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z"></path>
                        </g>
                    </svg>
                </div>
            </header>
            <div class="tweet-item-main-container details">
                <div class="tweet-item-wrapper">
                    <div class="tweet-user-profile-container">
                        <%= link_to user_path(@tweet.user) do %>
                        <div class="tweet-user">
                            <div class="image">
                                <img src="https://pbs.twimg.com/profile_images/1387328259424194560/M2y5iSup_normal.jpg" alt="prodile">
                            </div>
                        </div>
                        <%end %>
                    </div>
                    <div class="tweet-detail-main-container">
                        <div class="tweet-header-main-container">

                            <div class="user-name-history">
                                <div class="user-name">
                                    <%= link_to user_path(@tweet.user)  do %>
                                    <h3><%= @tweet.user.name.split(" ")[0] %> <% if @tweet.user.name.split(" ")[1] %>
                                        <%= @tweet.user.name.split(" ")[1]%>
                                        <%end %>
                                    </h3>
                                    <%end %>
                                    <span>@<%= @tweet.user.username %><span>
                                </div>

                                <div class="tweet-history timestring">
                                    <%= @tweet.created_at %>
                                </div>
                            </div>
                            <div class="tweet-more-details">
                                <div>
                                    <i class="bi bi-three-dots"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tweet-body">
                            <div class="tweet-text"> <%= @tweet.text%> </div>
                            <% if([1].size == 1) %>
                            <div class="tweet-images-container">
                                <div class="tweet-image-item">
                                    <%= image_tag("https://images.pexels.com/photos/2397414/pexels-photo-2397414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")%>
                                </div>
                            </div>
                            <% elsif(["https://images.pexels.com/photos/2397414/pexels-photo-2397414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"].size == 2)%>
                            <div class="tweet-images-container two">
                                <% ["https://images.pexels.com/photos/2397414/pexels-photo-2397414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"].each do |image|%>
                                <div class="tweet-image-item">
                                    <%= image_tag(image) %>
                                </div>
                                <%end %>
                            </div>
                            <%end%>
                        </div>
                        <div class="tweet-footer">
                            <div class="footer-item">
                                <i class="bi bi-chat"></i>
                                <span>
                                    <%= @tweet.comments.count %>
                                </span>
                            </div>
                            <div class="footer-item">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                    <g>
                                        <path d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path>
                                    </g>
                                </svg>
                                <span>
                                    83
                                </span>
                            </div>
                            <%= link_to likes_path(:id => @tweet.id), method: :post do%>
                            <% if @tweet.likes.any? {|tweet| tweet.user_id == current_user.id} %>
                            <div class="footer-item liked">
                                <i class="bi bi-heart-fill"></i>
                                <span>
                                    <%= @tweet.likes.count%>
                                </span>
                            </div>
                            <% else %>
                            <div class="footer-item liked">
                                <i class="bi bi-heart"></i>
                                <span>
                                    <%= @tweet.likes.count%>
                                </span>
                            </div>
                            <% end %>
                            <%end %>
                            <div class="footer-item">
                                <i class="bi bi-upload"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tweet-details-comment-input">
                <div class="new-tweet-container">
                    <div class="image-wrapper">
                        <div class="image-container">
                            <img src="https://pbs.twimg.com/profile_images/1387328259424194560/M2y5iSup_normal.jpg" alt="profile" />
                        </div>
                    </div>
                    <div class="input-details-main-wrapper">
                        <%= form_with(model: @comment, url: tweet_comments_path(@tweet)) do |form| %>
                        <div class="input-text-area-wrapper">
                            <%= form.text_area :text, placeholder:"Enter your comment",class:"new-tweet-home-input-form" %>
                        </div>
                        <div class="form-controls">
                            <div class="tweet-form-media">
                                <div class="tweet-media-items">
                                    <div class="tweet-media-items">
                                        <i class="bi bi-image"></i>
                                    </div>
                                    <div class="tweet-media-items">
                                        <i class="bi bi-emoji-smile"></i>
                                    </div>
                                </div>
                                <%= form.submit "Comment", class:"tweet-form-submit-btn" %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="tweet-details-comments-container">
                <% @tweet.comments.order("created_at DESC").each do |comment| %>
                <%= render "shared/comment", comment: comment, images:[] %>
                <%end %>
            </div>
        </section>
    </div>
    <aside class="search-main-wrapper">
    </aside>
</main>

<div class="overlay">
</div>
<%= javascript_pack_tag 'input' %>