<section class="navigation-wrapper">
    <%= render "home/navbar" %>
</section>
<main class="main-app-wrapper">
    <div class="yield-app-main-wrapper">
        <section class="home-main-container">
            <header class="home-header-container">
                <div class="image-text-wrapper">
                    <div class="header-text">
                        <%= link_to :back do %>
                        <div class="header-back-arrow">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <%end %>
                        <div class="profile-user-info">
                            <h2> <%= @user_names[0].capitalize %>
                                <% if @user_names[1] %>
                                <%= @user_names[1].capitalize %>
                                <%end %>
                            </h2>
                            <span class="profile-header-tweets-count">
                                <%= @user.tweets.count %> <% if @user.tweets.count == 1%>
                                Tweet
                                <%else %>
                                Tweets
                                <%end %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="header-top-tweets-icon">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                        <g>
                            <path d="M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z"></path>
                        </g>
                    </svg>
                </div>
            </header>
            <div class="home-content-area">
                <div class="profile-main-header-wrapper">
                    <div class="profile-background-image">
                        <%= image_tag("https://pbs.twimg.com/profile_banners/986945306657894400/1619599809/600x200")%>
                        <div class="user-profile-image">
                            <div class="user-image">
                                <%= image_tag("https://pbs.twimg.com/profile_images/1387328259424194560/M2y5iSup_200x200.jpg")%>
                            </div>
                        </div>
                    </div>
                    <div class="profile-user-more-details">
                        <% if(current_user.id == @user.id)%>
                        <div class="follow-btn-whapper">
                            <div>
                            </div>
                            <div class="btn">
                                Edit Profile
                            </div>
                        </div>
                        <%elsif @user.followers.any? {|f| f.follower_id == current_user.id} %>
                        <div class="follow-btn-whapper following">
                            <div>
                            </div>
                            <%= link_to followers_path(:id => @user.id), method: :post do %>
                            <div class="btn">
                                Following
                            </div>
                            <% end %>
                        </div>
                        <%else%>
                        <div class="follow-btn-whapper follow">
                            <div>
                            </div>
                            <%= link_to followers_path(:id => @user.id), method: :post do %>
                            <div class="btn">
                                Follow
                            </div>
                            <% end %>

                        </div>
                        <%end%>
                        <div class="user-names">
                            <h2> <%= @user_names[0].capitalize %>
                                <% if @user_names[1] %>
                                <%= @user_names[1].capitalize %>
                                <%end %>
                            </h2>
                            <h4>@<%= @user_names[0].capitalize %><% if @user_names[1] %><%= @user_names[1].capitalize %>
                                <%end %></h4>
                        </div>

                        <div class="user-bio-container">
                            Hi, I am Baraka Mukelenga, a Student at Microverse, I'm a Full Stack Developer interested in different technologies and React Js lover.
                        </div>

                        <div class="location-and-joined-details">
                            <div class="user-location">
                                <i class="bi bi-geo-alt"></i> République du Rwanda
                            </div>
                            <div class="user-joined-at">
                                <i class="bi bi-calendar3"></i> Joined April 2018
                            </div>
                        </div>

                        <div class="following-information">
                            <%= link_to follower_path(:id => @user.id) do %>
                            <div class="following">
                                <strong>
                                    <%= @following %>
                                </strong>
                                Following
                            </div>
                            <%end%>
                            <%= link_to follower_path(:id => @user.id) do %>
                            <div class="followers">
                                <strong>
                                    <%= @user.followers.count%>
                                </strong>
                                Followers
                            </div>
                            <%end%>
                        </div>
                    </div>
                </div>
                <div class="profile-tab-navigation">
                    <ul>
                        <li>
                            <a class="active">
                                Tweet
                            </a>
                        </li>
                        <li>
                            <a>
                                Tweets & replies
                            </a>
                        </li>
                        <li>
                            <a>
                                Media
                            </a>
                        </li>
                        <li>
                            <a>
                                Likes
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="profile-tweets-media-likes-main-container">
                <div class="profile-user-tweets-container">
                    <% @user.tweets.each do |tweet| %>
                    <%= render "shared/tweet", tweet:tweet, images:[] %>
                    <% end %>
                </div>
            </div>
        </section>
    </div>
    <aside class="search-main-wrapper">
    </aside>
</main>

<div class="overlay">
</div>