<div class="tweet-item-main-container comment">
    <div class="tweet-item-wrapper">
        <div class="tweet-user-profile-container">
            <%= link_to user_path(current_user) do %>
            <div class="tweet-user">
                <div class="image">
                    <img src="https://pbs.twimg.com/profile_images/1387328259424194560/M2y5iSup_normal.jpg" alt="prodile">
                </div>
            </div>
            <%end %>
        </div>
        <div class="tweet-detail-main-container">
            <div class="tweet-header-main-container">
                <div class="user-name-history">
                    <div class="user-name">
                        <%= link_to user_path(comment.user)  do %>
                        <h3><%= comment.user.name.split(" ")[0] %> <% if comment.user.name.split(" ")[1] %>
                            <%= comment.user.name.split(" ")[1]%>
                            <%end %>
                        </h3>
                        <%end %>
                        <span>@<%=comment.user.username %><span>
                    </div>

                    <div class="tweet-history">
                        30m
                    </div>
                </div>
                <div class="tweet-more-details">
                    <div>
                        <i class="bi bi-three-dots"></i>
                    </div>
                </div>
            </div>
            <div class="tweet-body">
                <div class="tweet-text"> <%= comment.text%> </div>
                <% if(images.size == 1) %>
                <div class="tweet-images-container">
                    <div class="tweet-image-item">
                        <%= image_tag(images[0])%>
                    </div>
                </div>
                <% elsif(images.size == 2)%>
                <div class="tweet-images-container two">
                    <% images.each do |image|%>
                    <div class="tweet-image-item">
                        <%= image_tag(image) %>
                    </div>
                    <%end %>
                </div>
                <%end%>
            </div>
        </div>
    </div>
</div>