<nav class="main-navbar-container">
    <div class="navbar-main-container">
        <div class="navbar-logo-container">
            <i class="bi bi-twitter"></i>
        </div>
        <ul class="navbar-links-main-container">
            <li>
                <%= link_to root_path do %>
                <div class="navlink-item-container">
                    <div class="navlink-icon">
                        <i class="bi bi-house"></i>
                    </div>
                    <div class="navlink-text">
                        Home
                    </div>
                </div>
                <% end %>
            </li>
            <li>
                <%= link_to root_path do %>
                <div class="navlink-item-container">
                    <div class="navlink-icon">
                        <i class="bi bi-hash"></i>
                    </div>
                    <div class="navlink-text">
                        Explore
                    </div>
                </div>
                <% end %>
            </li>
            <li>
                <%= link_to notifications_path do %>
                <div class="navlink-item-container">
                    <div class="navlink-icon">
                        <i class="bi bi-bell"></i>
                    </div>
                    <div class="navlink-text">
                        Notifications
                    </div>
                </div>
                <% end %>
            </li>
            <li>
                <%= link_to messages_path do %>
                <div class="navlink-item-container">
                    <div class="navlink-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <div class="navlink-text">
                        Messages
                    </div>
                </div>
                <% end %>
            </li>

            <li>
                <%= link_to user_path(current_user) do %>
                <div class="navlink-item-container">
                    <div class="navlink-icon">
                        <i class="bi bi-person"></i>
                    </div>
                    <div class="navlink-text">
                        Profile
                    </div>
                </div>
                <% end %>
            </li>
            <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <div class="navlink-item-container">
                    <div class="navlink-icon">
                        <i class="bi bi-box-arrow-right"></i>
                    </div>
                    <div class="navlink-text">
                        Logout
                    </div>
                </div>
                <% end %>
            </li>
            <li>
                <%= link_to new_tweet_path do %>
                <div class="tweet-btn">
                    Tweet
                </div>
                <% end %>
            </li>
        </ul>
    </div>
    <div class="profile-details">
        <div class="profile-image-container">
            <img src="https://pbs.twimg.com/profile_images/1387328259424194560/M2y5iSup_normal.jpg" alt="profile">
        </div>
        <div class="profile-names-area">
            <h2><%= current_user.name %></h2>
            <span>@<%= current_user.username %></span>
        </div>

        <div class="profile-options">
            <%
=begin%>
            <i class="bi bi-three-dots"></i>
            <%
=end%>
        </div>
    </div>
</nav>